:root {
  --cor-principal: #75c2b0;
  --cor-secudaria: #ddb7fb;
  --cor-tercearia: #fec069;
  --cor-formulario: #197395;
  --cor-rosa: #f194ad !important;
  --cor-branca: #fff;
  --cor-verdeLinha: #0b9c4d;
  --cor-duvidas: #eff6f6;
  --fonte-Familia: "Roboto";
  --tamanho-fonte-titulo: 2.1rem;
  --tamanho-fonte-texto: 1.3rem;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--cor-rosa);
  --bs-btn-border-color: var(--cor-rosa);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primaria);
  --bs-btn-hover-border-color: var(--cor-rosa);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--cor-rosa);
  --bs-btn-active-border-color: var(--cor-rosa);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--cor-rosa);
  --bs-btn-disabled-border-color: var(--cor-rosa);
}

.body {
  width: 100%;
  background-color: var(--cor-branca);
}

header {
  background-color: var(--cor-principal);
}


.nav {
  gap: 1rem;
  color: var(--cor-branca);
  align-items: flex-end;
  font-size: var(--tamanho-fonte-texto);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
  cursor: pointer;
  color: var(--cor-branca);
}

.nav-item:hover {
  color: var(--cor-tercearia);
}

.logo {
  width: 50px;
  height: 50px;
}

.logo > img {
  max-width: 100%;
  height: auto;
  height: 50px;
  border-radius: 100px;
}

.logo-img {
  border-radius: 100% !important;
  width: 50%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  
}

/* .main-container {
  width: 100%;
} */

.beginning-about {
  margin-top: 1rem !important;
  color: var(--cor-formulario);
  font-size: var(--tamanho-fonte-titulo);
}

.about {
  width: 100%;
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: var(--tamanho-fonte-texto)
}

.what-do {
  font-size: var(--tamanho-fonte-titulo);
  color: var(--cor-formulario);
}
/* vista */
.what-do-we-do {
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: var(--tamanho-fonte-texto);
}
#visitas {
  background-color: var(--cor-secudaria);
  
}
.visit-text {
  font-size: 18px;
  font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container-carosel {
  width: 100%;
}
.visit-title {
  color: var(--cor-formulario);
  font-size: var(--tamanho-fonte-titulo); 
  font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; 
}
.d-block {
  max-width: 100%;
  height: auto;
  width: 50%;
  /* height: 500px; */
  color: black;
  border-radius: 8%;
}
.carousel-item active {
  color: black;
}
/*  */
.container-card {
  background-color: var(--cor-tercearia);
}
.card-img {
  max-width: 100%;
  height: auto;
  width: 50%;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 30px;
  gap: 10px;
}

.texto-card {
  color: #ffffff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}
.duvidad-t {
  width: 100%;
}
.itens {
  width: 100%;
}
#tellus {
  background-color: #197395;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
  color: var(--cor-rosa);
}
span {
  color: var(--cor-branca);
}

.form-control {
  border: 1px solid #f194ad;
}

.form-label {
  color: #fff;
}

.btns {
  width: 100%;
  height: 50px;
  background-color: var(--cor-rosaButton);
  border: 1px solid var(--cor-rosaButton);
}
.btns:hover {
  color: var(--cor-rosaButton);
}
.btn-success {
  width: 100%;
  background-color: var(--cor-rosaButton);
  border: 1px solid var(--cor-rosaButton);
  color: #fff;
}
.btn-success:hover {
  color: var(--cor-rosaButton);
}

footer {
  background-color: var(--cor-principal);
  color: var(--cor-branca);
  height: 175px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.link-repositorio {
  color: var(--cor-branca);
}

.duvidas {
  background-color: #eff6f6;
  margin-top: 55px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.duvidas-texto {
  margin-top: 55px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.linha {
  border: 0;
  height: 5px;
  background-color: #0b9c4d;
  margin-top: 25px;
  opacity: 0.99;
  
}


.accordion-item{
  margin: 10px;
  width: 100%;
}

