:root {
  --cor-principal:#75C2B0;
  --cor-secudaria: #DDB7FB;
  --cor-tercearia: #FEC069;
  --cor-formulario: #197395;
  --cor-rosaButton:#F194AD;
  --cor-branca: #FFF;
  --cor-verdeLinha: #0B9C4D;
  --cor-duvidas: #EFF6F6;
  --fonte-Familia: "Roboto";
}

body {
  width: 100%;
}

.navbar {
  background-color: #75c2b0;
}

.nav {
  gap: 1rem;
  color: #fff;
  align-items: flex-end;
  font-size: 20px;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color: #fec069;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo>img {
  max-width: 100%;
  height: auto;
  height: 50px;
  border-radius: 100px;
}

.main-container {
  width: 100%;
}

.beginning-about {
  margin-top: 1rem !important;
  color: #75c2b0;
  font-size: 32px;
}

.about {
  width: 55%;
  color: #75c2b0;

  font-size: 20px;
}

.about img {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.what-do {
  color: #75c2b0;
  font-size: 32px;
}

.what-do-we-do {
  width: 55%;
  color: #75c2b0;
  font-size: 20px;
}

.container-card {
  background-color: #fec069;
}

.card-img {
  width: 472px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.container-card {
  width: 55%;
}

.texto-card {
  color: #ffffff;
}

.form {
  width: 55%;
  background-color: #197395;
}

.form-control {
  border: 1px solid #f194ad;
}

.form-label {
  color: #fff;
}

.btns {
  width: 100%;
  height: 50px;
}

.btn {
  width: 100%;
  background-color: #f194ad;
  color: #fff;
}

.btn:hover {
  background-color: #f194ad;
  color: #fff;
}


.duvidas {
  height: 100vh;
  background-color: #EFF6F6;
  margin-top: 55px;
}

.duvidas-texto {
  margin-top: 55px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.linha {
  border: 0;
  height: 5px;
  background-color: #0B9C4D;
  margin-top: 25px;
}