body {
  width: 100%;
  
}

.navbar {
    background-color:  #75C2B0;;
   
}
.nav {
    gap: 1rem;
    color: #fff;
    align-items: flex-end;
    font-size: 20px;
}
.nav-item {
    cursor: pointer;
}
.nav-item:hover {
    color: #FEC069;
}
.logo {
    width: 50px;
    height: 50px;
}
.logo > img {
    max-width: 100%;
    height: auto;
    height: 50px;
    border-radius: 100px;
}
.main-container {
    width: 100%;
   
    
}
.beginning-about {
    margin-top: 1rem!important;
    color: #75C2B0;
    font-size: 32px;
}
.about {
    width: 55%;
    color: #75C2B0;
   
    font-size: 20px;
}
.about img {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.what-do {
    color: #75C2B0;
    font-size: 32px;
}
.what-do-we-do {
    width: 55%;
    color: #75C2B0;
   font-size: 20px;

}

.container-card{
    background-color: #FEC069;
}
.card-img{
    width: 472px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
}
.container-card{
   width: 55%;
    
}
.texto-card{
    color: #ffffff;
}